.cs-seciton_heading.cs-style1 .cs-section_title{
  width: 100%;
}

#id_objective h4,
#products-page h4,
#services-page h4,
#applications-page h4{
  margin-bottom: 5px;
}
div.kai-line{
  height: 3px;
  background: #52c8c4;
  width: 100px;
}

#id-call-contact{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 90px 0px;
}

#id-call-contact h2{
  font-size: 35px;
  margin-bottom: 5px;
}

.kai-faqs{
  height: 509px;
  overflow: auto;
}

.kai-faqs .cs-accordian{
  margin-bottom: 10px;
}

#id_objective{
  padding-top: 100px;
}

#id_objective .item-service{
padding-bottom: 100px;
}

.cs-gradient_bg_2{
  background: linear-gradient(257.51deg, #FAF1FE 44.07%, #F2FCFE 100%);
}

#services-page,
#applications-page{
  padding-top: 180px;
}

#services-page .item-service,
#applications-page .item-service{
  padding-bottom: 70px;
}

#category_post .post-thumbnail {
  height: 100%;
  padding-bottom: 0;
}

#category_post .post-thumbnail img {
  height: 100%;
  filter: brightness(85%);
  object-fit: cover;
}

h4.unset-margin-bottom{
  margin-bottom: 5px;
}
